<!-- navbar snippet from getbootstrap -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">AngularJS To-Do List</p>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="list">ToDos List</a></li>
                <li><a ui-sref="create">Create A ToDo</a></li>
                <li><a ui-sref="completed">Completed ToDos</a></li>
            </ul>
        </div>
    </div>
</nav>